// ===== Import grid system =====

$bfg-card-themes-included: false;

@import "../lib/bem-flex-grid-attr";

// ===== Add customized themes =====

.demo-layout__playground--light {
  @include bfg-card(primary, ());
}

.demo-layout__playground--dark {
  @include bfg-card(primary, (
    header-border: #4a4a4a,
    header-background: #3a3a3a,

    content-border: #4a4a4a,
    content-background: #2a2a2a,
  ));
}
