/* ===== demo ===== */

$demo-link: #2196F3;

$demo-warn: #D32F2F;

$demo-action: (
  border: #0D47A1,
  background: #1565C0,
  forground: #E3F2FD,
  active: #2196F3,
);

/* ===== www ===== */

$www-min-width: 0; // 768px; // For now, the website is not responsive for small screen...
$www-max-width: 992px;

$www-border-radius: 3px;

$www-navbar: (
  height: 3rem,
  border: #1565C0,
  background: #2196F3,
  forground: #FFF // #E3F2FD
);

$www-header: (
  padding: 6rem,
  border: #E0E0E0,
  background: #F5F5F5,
  forground: #9E9E9E
);

$www-logo-size: 6rem;
$www-logo-border: ($www-logo-size / 12);
$www-logo-shadow: ($www-logo-border / 2);

$www-showcase: (
  margin: 3rem,
  border-width: 1px,
  border-color: map-get($www-header, border),
);

// Just a shortcut :)
$www-showcase-border: map-get($www-showcase, border-width) solid map-get($www-showcase, border-color);
