@import "./functions";

/* ===== demo ===== */

$demo-link: #2196F3;

$demo-warn: #C62828;

$demo-action: (
  border: #0D47A1,
  background: #1565C0,
  forground: #E3F2FD,
  active: #2196F3,
);

$demo-duration: 300ms;

$demo-fonts: (
  title: "Expletus Sans", // "Expletus Sans" or "Open Sans"
  text: "Krub", // "Krub" or "Open Sans" or "Montserrat"
  code: "IBM Plex Mono" // "IBM Plex Mono" or "Source Code Pro"
);

$title-url: str-replace(map-get($demo-fonts, title), ' ', '+');
$text-url: str-replace(map-get($demo-fonts, text), ' ', '+');
$code-url: str-replace(map-get($demo-fonts, code), ' ', '+');

$demo-font-url: "https://fonts.googleapis.com/css?family=#{$title-url}:500|#{$text-url}:400,600|#{$code-url}";

/* ===== docs ===== */

$docs-max-width: 992px;

$docs-border-radius: 3px;

$docs-navbar: (
  height: 3rem,
  border: #1565C0,
  background: #2196F3,
  forground: #FFF // #E3F2FD
);

$docs-header: (
  padding: 6rem,
  border: #E0E0E0,
  background: #F5F5F5,
  forground: #9E9E9E
);

$docs-logo-size: 6rem;
$docs-logo-border: ($docs-logo-size / 12);
$docs-logo-shadow: ($docs-logo-border / 2);

$docs-showcase: (
  margin: 3rem,
  border-width: 1px,
  border-color: map-get($docs-header, border),
);

// Some shortcuts :)

$docs-showcase-border: map-get($docs-showcase, border-width) solid map-get($docs-showcase, border-color);

$docs-container-margin: (map-get($docs-navbar, height) + map-get($docs-showcase, margin));
