@import "./variables.scss";

/* ===== Container ===== */

.www-container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: $www-max-width;
  padding: 0 1rem;
}

/* ===== Navbar ===== */

.www-navbar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: map-get($www-navbar, height);
  line-height: map-get($www-navbar, height);
  border-bottom: 1px solid transparent;
  color: map-get($www-navbar, forground);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

.www-navbar--back {
  z-index: 10;
  border-color: map-get($www-navbar, border);
  background: map-get($www-navbar, background);
  text-align: left;
  font-size: 1.25rem;
}

.www-navbar--front {
  z-index: 13;
  width: 50%;
  right: 0;
  text-align: right;

  .www-container {
    margin: 0;
    max-width: ($www-max-width / 2);
  }

  .www-navbar__link {
    padding: 0.25rem 0.75rem;
    border-radius: $www-border-radius;
    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35) inset;
  }
}

.www-navbar__link {
  color: white; // Must be white!
  text-decoration: none;
}

/* ===== Header ===== */

.www-header {
  position: relative;
  z-index: 12;
  margin-bottom: (map-get($www-navbar, height) + map-get($www-showcase, margin));
  padding: map-get($www-header, padding) 0 (map-get($www-header, padding) / 2) 0;
  background-color: map-get($www-header, background);
  border-bottom: 1px solid map-get($www-header, border);
}

.www-header__title {
  margin: 0;
  margin-right: (map-get($www-header, padding) / 2);
  line-height: map-get($www-header, padding);
  font-size: 4rem;
  font-weight: 200;
  color: map-get($www-header, forground);

  a {
    color: inherit;
    text-decoration: none;
  }
}

h2.www-header__subtitle { // Add "h2" selector to overwrite "primer-markdown".
  margin: 0;
  margin-top: (map-get($www-header, padding) / 2);
  padding: 0; // Remove "primer-markdown" style
  border: none; // Remove "primer-markdown" style
  text-align: center;
  line-height: inherit; // Remove "primer-markdown" style
  font-weight: normal;
  font-size: 1.25rem;
  color: map-get($www-header, forground);
}

/* ===== Logo ===== */

.www-logo {
  position: relative;
  width: $www-logo-size;
  height: $www-logo-size;
}

.www-logo__square {
  position: absolute;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  border: $www-logo-border solid transparent;
  transform-origin: 50% 50%;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-name: wwwLogoAnim;
}

.www-logo__square--1 { border-color: #F44336; left: 0; top: 0; animation-name: wwwLogoAnim, wwwLogoAnim1; }
.www-logo__square--2 { border-color: #C62828; left: 0; bottom: 0; animation-name: wwwLogoAnim, wwwLogoAnim2; }
.www-logo__square--3 { border-color: #2196F3; right: 0; top: 0; animation-name: wwwLogoAnim, wwwLogoAnim3; }
.www-logo__square--4 { border-color: #1565C0; right: 0; bottom: 0; animation-name: wwwLogoAnim, wwwLogoAnim4; }

@keyframes wwwLogoAnim1 { 70% { left: 0; } 85% { left: 50%; } 100% { left: 0; } }
@keyframes wwwLogoAnim2 { 70% { bottom: 0; } 85% { bottom: 50%; } 100% { bottom: 0; } }
@keyframes wwwLogoAnim3 { 70% { top: 0; } 85% { top: 50%; } 100% { top: 0; } }
@keyframes wwwLogoAnim4 { 70% { right: 0; } 85% { right: 50%; } 100% { right: 0; } }

@keyframes wwwLogoAnim {
  0% {
    box-shadow:
      $www-logo-shadow $www-logo-shadow 1px rgba(0, 0, 0, 0.2),
      $www-logo-shadow $www-logo-shadow 1px rgba(0, 0, 0, 0.2) inset;
  }
  70% {
    border-radius: 0;
    transform: rotate(0deg);
    box-shadow:
      $www-logo-shadow $www-logo-shadow 1px rgba(0, 0, 0, 0.2),
      $www-logo-shadow $www-logo-shadow 1px rgba(0, 0, 0, 0.2) inset;
  }
  85% {
    border-radius: 33%;
    transform: rotate(45deg) scale(1.35);
  }
  100% {
    border-radius: 0;
    transform: rotate(90deg);
    box-shadow:
      $www-logo-shadow (-$www-logo-shadow) 1px rgba(0, 0, 0, 0.2),
      $www-logo-shadow (-$www-logo-shadow) 1px rgba(0, 0, 0, 0.2) inset;
  }
}

/* ===== Showcase ===== */

.www-showcase__item {
  position: relative;
  border-radius: $www-border-radius;
  border: $www-showcase-border;
  margin-bottom: map-get($www-showcase, margin);
}

.www-showcase__iframe {
  display: block;
  width: 100%;
  height: 70vh;
  max-height: 480px;
  border-radius: ($www-border-radius - map-get($www-showcase, border-width));
  border: none;
}

// Use the action from "demo" universe
.demo-action--open-link {
  position: absolute;
  top: -0.8rem;
  left: -0.8rem;
  z-index: 9;
}
