// ===== Import grid system =====

$bfg-gap: 1rem;

$bfg-margin: 1.5rem;

$bfg-padding: 1rem;

$bfg-header-height: 2.5rem;

$bfg-card-primary-included: false;

@import "../lib/bem-flex-grid.ie11";

// ===== Add customized themes =====

.demo-layout__playground--light {
  @include bfg-card(primary, (
    header-borderless: true,
    header-border: #ddd,
    header-background: #f6f6f6,
  ));
}

.demo-layout__playground--dark {
  @include bfg-card(primary, (
    header-border: #4a4a4a,
    header-background: #3a3a3a,

    content-border: #4a4a4a,
    content-background: #2a2a2a,
  ));
}
