// ===== Import grid system =====

@use "../lib/bem-flex-grid-class" as * with ($bfg-card-theme-included: false);

// ===== Add customized themes =====

@include bfg-card(primary, ());

.demo-layout__playground--dark {
  @include bfg-card(primary, (
    header-border: #4a4a4a,
    header-background: #3a3a3a,

    content-border: #4a4a4a,
    content-background: #2a2a2a,
  ));
}
