/*! bem-flex-grid | (c) Stephane Francel | github.com/avine/bem-flex-grid/blob/master/LICENSE */
[bfg] {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  height: 100%; }

[bfg][bfg__box] {
  height: auto; }

[bfg~="row"] {
  flex-direction: row; }

[bfg~="col"] {
  flex-direction: column; }

[bfg~="gap"] {
  padding: 0.5rem; }

[bfg~="gap-in"] {
  margin: -0.5rem;
  height: calc(100% + 1rem); }

[bfg~="gap"] [bfg__box],
[bfg~="gap-in"] [bfg__box] {
  padding: 0.5rem; }

[bfg~="gap"] [bfg__box][bfg],
[bfg~="gap"] [bfg__box~="nopad"],
[bfg~="gap-in"] [bfg__box][bfg],
[bfg~="gap-in"] [bfg__box~="nopad"] {
  padding: 0; }

[bfg~="nogap"] [bfg__box] {
  padding: 0; }

[bfg~="main-center"] {
  justify-content: center; }

[bfg~="main-end"] {
  justify-content: flex-end; }

[bfg~="main-between"] {
  justify-content: space-between; }

[bfg~="main-around"] {
  justify-content: space-around; }

[bfg~="cross-start"] {
  align-items: flex-start; }

[bfg~="cross-center"] {
  align-items: center; }

[bfg~="cross-end"] {
  align-items: flex-end; }

[bfg__box] {
  flex: 0 1 100%;
  position: relative;
  overflow: auto;
  box-sizing: border-box; }

[bfg__box~="fit"] {
  flex: 0 0 auto; }

[bfg~="box-overflow-visible"] [bfg__box],
[bfg__box~="overflow-visible"] {
  overflow: visible; }

[bfg~="box-overflow-hidden"] [bfg__box],
[bfg__box~="overflow-hidden"] {
  overflow: hidden; }

[bfg~="height-auto"] {
  height: auto; }

[bfg~="wrap"] {
  flex-wrap: wrap; }

[bfg~="nowrap"] {
  flex-wrap: nowrap; }

[bfg~="row reverse"] {
  flex-direction: row-reverse; }

[bfg~="col reverse"] {
  flex-direction: column-reverse; }

[bfg__box~="first"] {
  order: -1; }

[bfg__box~="in-place"] {
  order: 0; }

[bfg__box~="last"] {
  order: 1; }

[bfg__box~="1"] {
  flex-basis: 8.33333%; }

[bfg__box~="2"] {
  flex-basis: 16.66667%; }

[bfg__box~="3"] {
  flex-basis: 25%; }

[bfg__box~="4"] {
  flex-basis: 33.33333%; }

[bfg__box~="5"] {
  flex-basis: 41.66667%; }

[bfg__box~="6"] {
  flex-basis: 50%; }

[bfg__box~="7"] {
  flex-basis: 58.33333%; }

[bfg__box~="8"] {
  flex-basis: 66.66667%; }

[bfg__box~="9"] {
  flex-basis: 75%; }

[bfg__box~="10"] {
  flex-basis: 83.33333%; }

[bfg__box~="11"] {
  flex-basis: 91.66667%; }

[bfg__box~="12"] {
  flex-basis: 100%; }

[bfg~="row"][bfg~="lines-2"] > [bfg__box] {
  height: 50%; }

[bfg~="row"][bfg~="lines-3"] > [bfg__box] {
  height: 33.33333%; }

[bfg~="row"][bfg~="lines-4"] > [bfg__box] {
  height: 25%; }

[bfg~="col"][bfg~="lines-2"] > [bfg__box] {
  width: 50%; }

[bfg~="col"][bfg~="lines-3"] > [bfg__box] {
  width: 33.33333%; }

[bfg~="col"][bfg~="lines-4"] > [bfg__box] {
  width: 25%; }

[bfg~="disabled"],
[bfg~="disabled-all"],
[bfg~="disabled-all"] [bfg] {
  display: block;
  height: auto; }

[bfg~="disabled"] > [bfg__box],
[bfg~="disabled-all"] [bfg__box] {
  width: auto;
  height: auto; }

@media (max-width: 1199.98px) {
  [bfg~="xl-height-auto"] {
    height: auto; }
  [bfg~="xl-wrap"] {
    flex-wrap: wrap; }
  [bfg~="xl-nowrap"] {
    flex-wrap: nowrap; }
  [bfg~="row xl-reverse"] {
    flex-direction: row-reverse; }
  [bfg~="col xl-reverse"] {
    flex-direction: column-reverse; }
  [bfg__box~="xl-first"] {
    order: -1; }
  [bfg__box~="xl-in-place"] {
    order: 0; }
  [bfg__box~="xl-last"] {
    order: 1; }
  [bfg__box~="xl-1"] {
    flex-basis: 8.33333%; }
  [bfg__box~="xl-2"] {
    flex-basis: 16.66667%; }
  [bfg__box~="xl-3"] {
    flex-basis: 25%; }
  [bfg__box~="xl-4"] {
    flex-basis: 33.33333%; }
  [bfg__box~="xl-5"] {
    flex-basis: 41.66667%; }
  [bfg__box~="xl-6"] {
    flex-basis: 50%; }
  [bfg__box~="xl-7"] {
    flex-basis: 58.33333%; }
  [bfg__box~="xl-8"] {
    flex-basis: 66.66667%; }
  [bfg__box~="xl-9"] {
    flex-basis: 75%; }
  [bfg__box~="xl-10"] {
    flex-basis: 83.33333%; }
  [bfg__box~="xl-11"] {
    flex-basis: 91.66667%; }
  [bfg__box~="xl-12"] {
    flex-basis: 100%; }
  [bfg~="row"][bfg~="xl-lines-2"] > [bfg__box] {
    height: 50%; }
  [bfg~="row"][bfg~="xl-lines-3"] > [bfg__box] {
    height: 33.33333%; }
  [bfg~="row"][bfg~="xl-lines-4"] > [bfg__box] {
    height: 25%; }
  [bfg~="col"][bfg~="xl-lines-2"] > [bfg__box] {
    width: 50%; }
  [bfg~="col"][bfg~="xl-lines-3"] > [bfg__box] {
    width: 33.33333%; }
  [bfg~="col"][bfg~="xl-lines-4"] > [bfg__box] {
    width: 25%; }
  [bfg~="xl-disabled"],
  [bfg~="xl-disabled-all"],
  [bfg~="xl-disabled-all"] [bfg] {
    display: block;
    height: auto; }
  [bfg~="xl-disabled"] > [bfg__box],
  [bfg~="xl-disabled-all"] [bfg__box] {
    width: auto;
    height: auto; } }

@media (max-width: 991.98px) {
  [bfg~="lg-height-auto"] {
    height: auto; }
  [bfg~="lg-wrap"] {
    flex-wrap: wrap; }
  [bfg~="lg-nowrap"] {
    flex-wrap: nowrap; }
  [bfg~="row lg-reverse"] {
    flex-direction: row-reverse; }
  [bfg~="col lg-reverse"] {
    flex-direction: column-reverse; }
  [bfg__box~="lg-first"] {
    order: -1; }
  [bfg__box~="lg-in-place"] {
    order: 0; }
  [bfg__box~="lg-last"] {
    order: 1; }
  [bfg__box~="lg-1"] {
    flex-basis: 8.33333%; }
  [bfg__box~="lg-2"] {
    flex-basis: 16.66667%; }
  [bfg__box~="lg-3"] {
    flex-basis: 25%; }
  [bfg__box~="lg-4"] {
    flex-basis: 33.33333%; }
  [bfg__box~="lg-5"] {
    flex-basis: 41.66667%; }
  [bfg__box~="lg-6"] {
    flex-basis: 50%; }
  [bfg__box~="lg-7"] {
    flex-basis: 58.33333%; }
  [bfg__box~="lg-8"] {
    flex-basis: 66.66667%; }
  [bfg__box~="lg-9"] {
    flex-basis: 75%; }
  [bfg__box~="lg-10"] {
    flex-basis: 83.33333%; }
  [bfg__box~="lg-11"] {
    flex-basis: 91.66667%; }
  [bfg__box~="lg-12"] {
    flex-basis: 100%; }
  [bfg~="row"][bfg~="lg-lines-2"] > [bfg__box] {
    height: 50%; }
  [bfg~="row"][bfg~="lg-lines-3"] > [bfg__box] {
    height: 33.33333%; }
  [bfg~="row"][bfg~="lg-lines-4"] > [bfg__box] {
    height: 25%; }
  [bfg~="col"][bfg~="lg-lines-2"] > [bfg__box] {
    width: 50%; }
  [bfg~="col"][bfg~="lg-lines-3"] > [bfg__box] {
    width: 33.33333%; }
  [bfg~="col"][bfg~="lg-lines-4"] > [bfg__box] {
    width: 25%; }
  [bfg~="lg-disabled"],
  [bfg~="lg-disabled-all"],
  [bfg~="lg-disabled-all"] [bfg] {
    display: block;
    height: auto; }
  [bfg~="lg-disabled"] > [bfg__box],
  [bfg~="lg-disabled-all"] [bfg__box] {
    width: auto;
    height: auto; } }

@media (max-width: 767.98px) {
  [bfg~="sm-height-auto"] {
    height: auto; }
  [bfg~="sm-wrap"] {
    flex-wrap: wrap; }
  [bfg~="sm-nowrap"] {
    flex-wrap: nowrap; }
  [bfg~="row sm-reverse"] {
    flex-direction: row-reverse; }
  [bfg~="col sm-reverse"] {
    flex-direction: column-reverse; }
  [bfg__box~="sm-first"] {
    order: -1; }
  [bfg__box~="sm-in-place"] {
    order: 0; }
  [bfg__box~="sm-last"] {
    order: 1; }
  [bfg__box~="sm-1"] {
    flex-basis: 8.33333%; }
  [bfg__box~="sm-2"] {
    flex-basis: 16.66667%; }
  [bfg__box~="sm-3"] {
    flex-basis: 25%; }
  [bfg__box~="sm-4"] {
    flex-basis: 33.33333%; }
  [bfg__box~="sm-5"] {
    flex-basis: 41.66667%; }
  [bfg__box~="sm-6"] {
    flex-basis: 50%; }
  [bfg__box~="sm-7"] {
    flex-basis: 58.33333%; }
  [bfg__box~="sm-8"] {
    flex-basis: 66.66667%; }
  [bfg__box~="sm-9"] {
    flex-basis: 75%; }
  [bfg__box~="sm-10"] {
    flex-basis: 83.33333%; }
  [bfg__box~="sm-11"] {
    flex-basis: 91.66667%; }
  [bfg__box~="sm-12"] {
    flex-basis: 100%; }
  [bfg~="row"][bfg~="sm-lines-2"] > [bfg__box] {
    height: 50%; }
  [bfg~="row"][bfg~="sm-lines-3"] > [bfg__box] {
    height: 33.33333%; }
  [bfg~="row"][bfg~="sm-lines-4"] > [bfg__box] {
    height: 25%; }
  [bfg~="col"][bfg~="sm-lines-2"] > [bfg__box] {
    width: 50%; }
  [bfg~="col"][bfg~="sm-lines-3"] > [bfg__box] {
    width: 33.33333%; }
  [bfg~="col"][bfg~="sm-lines-4"] > [bfg__box] {
    width: 25%; }
  [bfg~="sm-disabled"],
  [bfg~="sm-disabled-all"],
  [bfg~="sm-disabled-all"] [bfg] {
    display: block;
    height: auto; }
  [bfg~="sm-disabled"] > [bfg__box],
  [bfg~="sm-disabled-all"] [bfg__box] {
    width: auto;
    height: auto; } }

@media (max-width: 575.98px) {
  [bfg~="xs-height-auto"] {
    height: auto; }
  [bfg~="xs-wrap"] {
    flex-wrap: wrap; }
  [bfg~="xs-nowrap"] {
    flex-wrap: nowrap; }
  [bfg~="row xs-reverse"] {
    flex-direction: row-reverse; }
  [bfg~="col xs-reverse"] {
    flex-direction: column-reverse; }
  [bfg__box~="xs-first"] {
    order: -1; }
  [bfg__box~="xs-in-place"] {
    order: 0; }
  [bfg__box~="xs-last"] {
    order: 1; }
  [bfg__box~="xs-1"] {
    flex-basis: 8.33333%; }
  [bfg__box~="xs-2"] {
    flex-basis: 16.66667%; }
  [bfg__box~="xs-3"] {
    flex-basis: 25%; }
  [bfg__box~="xs-4"] {
    flex-basis: 33.33333%; }
  [bfg__box~="xs-5"] {
    flex-basis: 41.66667%; }
  [bfg__box~="xs-6"] {
    flex-basis: 50%; }
  [bfg__box~="xs-7"] {
    flex-basis: 58.33333%; }
  [bfg__box~="xs-8"] {
    flex-basis: 66.66667%; }
  [bfg__box~="xs-9"] {
    flex-basis: 75%; }
  [bfg__box~="xs-10"] {
    flex-basis: 83.33333%; }
  [bfg__box~="xs-11"] {
    flex-basis: 91.66667%; }
  [bfg__box~="xs-12"] {
    flex-basis: 100%; }
  [bfg~="row"][bfg~="xs-lines-2"] > [bfg__box] {
    height: 50%; }
  [bfg~="row"][bfg~="xs-lines-3"] > [bfg__box] {
    height: 33.33333%; }
  [bfg~="row"][bfg~="xs-lines-4"] > [bfg__box] {
    height: 25%; }
  [bfg~="col"][bfg~="xs-lines-2"] > [bfg__box] {
    width: 50%; }
  [bfg~="col"][bfg~="xs-lines-3"] > [bfg__box] {
    width: 33.33333%; }
  [bfg~="col"][bfg~="xs-lines-4"] > [bfg__box] {
    width: 25%; }
  [bfg~="xs-disabled"],
  [bfg~="xs-disabled-all"],
  [bfg~="xs-disabled-all"] [bfg] {
    display: block;
    height: auto; }
  [bfg~="xs-disabled"] > [bfg__box],
  [bfg~="xs-disabled-all"] [bfg__box] {
    width: auto;
    height: auto; } }

[bfg-card] {
  margin: 1rem 0; }

[bfg][bfg-card], [bfg] [bfg-card] {
  margin: 0; }

[bfg__box] > [bfg-card] {
  height: 100%; }

[bfg-card__action],
[bfg-card__header] {
  padding: 0 0.5rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis; }

[bfg-card__action] {
  float: right;
  max-width: 25%; }

[bfg-card__content] {
  padding: 0.5rem;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
  height: 100%; }

[bfg-card__content~="nopad"] {
  padding: 0; }

[bfg~="card-content-overflow-visible"] [bfg-card__content],
[bfg-card__content~="overflow-visible"] {
  overflow: visible; }

[bfg~="card-content-overflow-hidden"] [bfg-card__content],
[bfg-card__content~="overflow-hidden"] {
  overflow: hidden; }

[bfg-card__header] + [bfg-card__content] {
  height: calc(100% - 2rem); }

[bfg-card] [bfg-card__action] + [bfg-card__action],
[bfg-card] [bfg-card__action] + [bfg-card__header] {
  box-shadow: none !important;
  border-top-right-radius: 0 !important;
  border-right-width: 0 !important; }

[bfg-card] [bfg-card__header] + [bfg-card__content] {
  border-top: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; }

.demo-layout__playground--light [bfg-card~="primary"] [bfg-card__action],
.demo-layout__playground--light [bfg-card~="primary"] [bfg-card__header] {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
  border: 1px solid #d5d5d5;
  background: #f6f6f6;
  line-height: calc(2rem - 2px); }

.demo-layout__playground--light [bfg-card~="primary"] [bfg-card__action] {
  border-top-right-radius: 3px;
  border-left-width: 0; }

.demo-layout__playground--light [bfg-card~="primary"] [bfg-card__header] {
  border-radius: 3px 3px 0 0; }

.demo-layout__playground--light [bfg-card~="primary"] [bfg-card__content] {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff; }

.demo-layout__playground--dark [bfg-card~="primary"] [bfg-card__action],
.demo-layout__playground--dark [bfg-card~="primary"] [bfg-card__header] {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
  border: 1px solid #4a4a4a;
  background: #3a3a3a;
  line-height: calc(2rem - 2px); }

.demo-layout__playground--dark [bfg-card~="primary"] [bfg-card__action] {
  border-top-right-radius: 3px;
  border-left-width: 0; }

.demo-layout__playground--dark [bfg-card~="primary"] [bfg-card__header] {
  border-radius: 3px 3px 0 0; }

.demo-layout__playground--dark [bfg-card~="primary"] [bfg-card__content] {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  border: 1px solid #4a4a4a;
  background: #2a2a2a; }


/*# sourceMappingURL=/bem-flex-grid/14.30e04bd1.css.map */