$bfg-gap: 1rem !default;

$bfg-fill: (
  padding: 0.5rem,
  border-radius: 2px,
  border: #ddd,
  background: #eee
) !default;

$bfg-breakpoints: (
  xs: 576px,
  sm: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@mixin bfg-media-breakpoint-up($size) {
  @media (min-width: map-get($bfg-breakpoints, $size)) {
    @content;
  }
}

@mixin bfg-media-breakpoint-down($size) {
  @media (max-width: map-get($bfg-breakpoints, $size) - 0.02) {
    @content;
  }
}

.bfg {
  display: flex;
  height: 100%; // Try to fit the parent node height when available

  .bfg {
    height: auto;
  }
}

.bfg--row {
  flex-direction: row;
}

.bfg--col {
  flex-direction: column;
}

.bfg--gap {
  margin: 0 (-$bfg-gap / 2);

  .bfg__box {
    padding: 0 ($bfg-gap / 2) $bfg-gap ($bfg-gap / 2);
  }

  .bfg {
    padding: 0;
  }
}

.bfg--wrap {
  flex-wrap: wrap;
}

.bfg__box {
  flex: 1 1 100%;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
}

@mixin bfg-boxes($size: '') {
  .bfg--row {
    > .bfg__box--#{$size + 1} { max-width: (100% / 12); }
    > .bfg__box--#{$size + 2} { max-width: (100% / 6); }
    > .bfg__box--#{$size + 3} { max-width: 25%; }
    > .bfg__box--#{$size + 4} { max-width: (100% / 3); }
    > .bfg__box--#{$size + 5} { max-width: (500% / 12); }
    > .bfg__box--#{$size + 6} { max-width: 50%; }
    > .bfg__box--#{$size + 7} { max-width: (700% / 12); }
    > .bfg__box--#{$size + 8} { max-width: (200% / 3); }
    > .bfg__box--#{$size + 9} { max-width: 75%; }
    > .bfg__box--#{$size + 10} { max-width: (1000% / 12); }
    > .bfg__box--#{$size + 11} { max-width: (1100% / 12); }
    > .bfg__box--#{$size + 12} { max-width: 100%; }
  }

  .bfg--col {
    > .bfg__box--#{$size + 1} { max-height: (100% / 12); }
    > .bfg__box--#{$size + 2} { max-height: (100% / 6); }
    > .bfg__box--#{$size + 3} { max-height: 25%; }
    > .bfg__box--#{$size + 4} { max-height: (100% / 3); }
    > .bfg__box--#{$size + 5} { max-height: (500% / 12); }
    > .bfg__box--#{$size + 6} { max-height: 50%; }
    > .bfg__box--#{$size + 7} { max-height: (700% / 12); }
    > .bfg__box--#{$size + 8} { max-height: (200% / 3); }
    > .bfg__box--#{$size + 9} { max-height: 75%; }
    > .bfg__box--#{$size + 10} { max-height: (1000% / 12); }
    > .bfg__box--#{$size + 11} { max-height: (1100% / 12); }
    > .bfg__box--#{$size + 12} { max-height: 100%; }
  }

  .bfg--#{$size + 2rows} > .bfg__box { height: 50%; }
  .bfg--#{$size + 3rows} > .bfg__box { height: (100% / 3); }
  .bfg--#{$size + 4rows} > .bfg__box { height: 25%; }

  .bfg--#{$size + 2cols} > .bfg__box { width: 50%; }
  .bfg--#{$size + 3cols} > .bfg__box { width: (100% / 3); }
  .bfg--#{$size + 4cols} > .bfg__box { width: 25%; }

  .bfg--#{$size + disabled} {
    display: block;
    height: auto;

    .bfg__box {
      display: block;
      max-width: none;
      max-height: none;
      width: auto;
      height: auto;
    }
  }
}

@include bfg-boxes(); // any screen size including "xl"

@include bfg-media-breakpoint-down(lg) {
  @include bfg-boxes(lg-);
}

@include bfg-media-breakpoint-down(sm) {
  @include bfg-boxes(sm-);
}

@include bfg-media-breakpoint-down(xs) {
  @include bfg-boxes(xs-);
}

.bfg__content {
  position: relative;
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@mixin bfg-content-fill($name, $fill) {
  .bfg__content--#{$name} {
    padding: map-get($fill, padding);
    border-radius: map-get($fill, border-radius);
    border: 1px solid map-get($fill, border);
    background-color: map-get($fill, background);
  }
}

@include bfg-content-fill(fill, $bfg-fill);
