$bfg-gap: 1rem !default;

$bfg-fill: (
  padding: 0.5rem,
  border-radius: 2px,
  border: #ddd,
  background: #eee
) !default;

$bfg-breakpoints: (
  lg: 992px,
  sm: 576px
) !default;

@mixin bfg-media-breakpoint-up($size) {
  @media (min-width: map-get($bfg-breakpoints, $size)) {
    @content;
  }
}

@mixin bfg-media-breakpoint-down($size) {
  @media (max-width: map-get($bfg-breakpoints, $size) - 0.02) {
    @content;
  }
}

.bfg {
  display: flex;
  flex-wrap: wrap;
  height: 100%; // Try to fit the parent node height when available

  .bfg {
    height: auto;
  }
}

.bfg__box {
  flex: 1 1 100%;
  position: relative;
  overflow: auto;
  display: flex;
}

@mixin bfg-boxes($size: '') {
  .bfg--row {
    flex-direction: row;

    > .bfg__box--#{$size}12 { max-width: 100%; }
    > .bfg__box--#{$size}11 { max-width: calc(1100% / 12); }
    > .bfg__box--#{$size}10 { max-width: calc(1000% / 12); }
    > .bfg__box--#{$size}9 { max-width: 75%; }
    > .bfg__box--#{$size}8 { max-width: calc(200% / 3); }
    > .bfg__box--#{$size}7 { max-width: calc(700% / 12); }
    > .bfg__box--#{$size}6 { max-width: 50%; }
    > .bfg__box--#{$size}5 { max-width: calc(500% / 12); }
    > .bfg__box--#{$size}4 { max-width: calc(100% / 3); }
    > .bfg__box--#{$size}3 { max-width: 25%; }
    > .bfg__box--#{$size}2 { max-width: calc(100% / 6); }
    > .bfg__box--#{$size}1 { max-width: calc(100% / 12); }
  }

  .bfg--col {
    flex-direction: column;

    > .bfg__box--#{$size}12 { max-height: 100%; }
    > .bfg__box--#{$size}11 { max-height: calc(1100% / 12); }
    > .bfg__box--#{$size}10 { max-height: calc(1000% / 12); }
    > .bfg__box--#{$size}9 { max-height: 75%; }
    > .bfg__box--#{$size}8 { max-height: calc(200% / 3); }
    > .bfg__box--#{$size}7 { max-height: calc(700% / 12); }
    > .bfg__box--#{$size}6 { max-height: 50%; }
    > .bfg__box--#{$size}5 { max-height: calc(500% / 12); }
    > .bfg__box--#{$size}4 { max-height: calc(100% / 3); }
    > .bfg__box--#{$size}3 { max-height: 25%; }
    > .bfg__box--#{$size}2 { max-height: calc(100% / 6); }
    > .bfg__box--#{$size}1 { max-height: calc(100% / 12); }
  }
}

@include bfg-boxes();

@include bfg-media-breakpoint-down(lg) {
  @include bfg-boxes(md-);
}

@include bfg-media-breakpoint-down(sm) {
  .bfg--not-sm {
    display: block;
    height: auto;

    .bfg__box {
      display: block;
      max-width: none;
      max-height: none;
    }
  }
}

.bfg__content {
  flex: 1 1 100%;
  position: relative;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.bfg--gap {
  margin: 0 (-$bfg-gap / 2);

  .bfg__box {
    box-sizing: border-box;
    padding: 0 ($bfg-gap / 2);
  }

  .bfg {
    padding: 0;
  }

  .bfg__content {
    margin-bottom: $bfg-gap;
  }
}

@mixin bem-flex-grid-fill($name, $fill) {
  .bfg__content--#{$name} {
    padding: map-get($fill, padding);
    box-sizing: border-box;
    border-radius: map-get($fill, border-radius);
    border: 1px solid map-get($fill, border);
    background-color: map-get($fill, background);
  }
}

@include bem-flex-grid-fill(fill, $bfg-fill);
