$demo-light-colors: (
  border: #CFD8DC,
  background: #ECEFF1,
  forground: #546E7A
);

$demo-dark-colors: (
  border: #455A64,
  background: #546E7A,
  forground: #CFD8DC
);

@mixin demo-dark-box {
  border: 1px solid map-get($demo-dark-colors, border);
  background-color: map-get($demo-dark-colors, background);
  color: map-get($demo-dark-colors, forground) !important;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  transition: opacity ease 0.6s;
  opacity: 0.95;

  &:hover {
    opacity: 0.8;
  }
}

$demo-border-radius: 3px;

html {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
  color: #666;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

/* ===== Handle index ===== */

#demo-index { // Add this id on the <html> tag
  background-color: map-get($demo-light-colors, background);
  color: map-get($demo-light-colors, forground);

  &, body {
    height: auto;
  }

  h1 {
    margin: 1rem 0 2rem 0;
    text-align: center;
    font-weight: 200;
    font-size: 2.5rem;
  }

  header {
    margin: 2rem 0;
  }

  p {
    text-align: center;
  }

  a {
    color: map-get($demo-light-colors, forground);
  }
}

/* ===== Handle showcase ===== */

.demo-showcase__item.bfg__content {
  padding: 0;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: $demo-border-radius;
  border: 1px solid map-get($demo-light-colors, border);
  background-color: white;
}

.demo-showcase__iframe {
  display: block;
  width: 100%;
  height: 360px;
  border: none;
  background-color: white;
}

.demo-showcase__link {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0 10px;
  border-bottom-left-radius: $demo-border-radius;
  @include demo-dark-box;
  text-decoration: none;
}

/* ===== Handle source ===== */

#demo-source__toggle {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 40px;
  padding: 0px 0 6px 0;
  line-height: 1rem;
  border-bottom-right-radius: $demo-border-radius;
  @include demo-dark-box;
  text-decoration: none;
  text-align: center;
}

#demo-source__code {
  overflow: auto;
  max-width: 70%;
  max-height: 70%;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border-radius: $demo-border-radius;
  background-color: #fff;
  display: none;
}

#demo-source {
  z-index: 12;
  transition: background-color ease 200ms;

  &.demo-source--open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;

    #demo-source__code {
      display: block !important;
    }
  }
}

/* ===== Handle container ===== */

.demo-container {
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #C8E6C9;
  background-color: #E8F5E9;
  color: #66BB6A;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 3em;
  text-indent: 1em;
  white-space: nowrap;
  &:after {
    content: "100% * 100%";
  }
}

.demo-container--alt {
  width: 1000px;
  height: 1000px;
  border-color: #A5D6A7;
  background-color: #C8E6C9;
  color: #4CAF50;
  &:after {
    content: "1000px * 1000px";
  }
}

/* ===== Handle description ===== */

#demo-description {
  cursor: pointer;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  @include demo-dark-box;
  line-height: 1.5em;

  code {
    padding: 0.2em 0.4em;
    border-radius: $demo-border-radius;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.15);
  }
}
