$demo-light-colors: (
  border: #CFD8DC,
  background: #ECEFF1,
  forground: #546E7A
);

$demo-dark-colors: (
  border: #455A64,
  background: #546E7A,
  forground: #CFD8DC
);

@mixin demo-dark-box {
  border: 1px solid map-get($demo-dark-colors, border);
  background-color: map-get($demo-dark-colors, background);
  color: map-get($demo-dark-colors, forground);
}

$demo-border-radius: 3px;

html {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
  color: #666;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

/* ===== Handle index ===== */

#demo-index { // Add this id on the <html> tag
  background-color: map-get($demo-light-colors, background);
  color: map-get($demo-light-colors, forground);

  &, body {
    height: auto;
  }
}

h1 {
  margin: 1rem 0 2rem 0;
  text-align: center;
  font-weight: 200;
  font-size: 2.5rem;
}

/* ===== Handle showcase ===== */

.bfg__content.demo-showcase-item {
  padding: 0;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: $demo-border-radius;
  border: 1px solid map-get($demo-light-colors, border);
  background-color: white;
}

.demo-showcase-iframe {
  display: block;
  width: 100%;
  height: 360px;
  border: none;
  background-color: white;
}

.demo-showcase-link {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  opacity: 0.95;
  padding: 0rem 0.3rem;
  border-bottom-left-radius: $demo-border-radius;
  @include demo-dark-box;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: opacity ease 0.6s;

  &:hover {
    opacity: 0.8;
  }
}

/* ===== Handle container ===== */

.demo-container {
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #C8E6C9;
  background-color: #E8F5E9;
  color: #66BB6A;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 3em;
  text-indent: 1em;
  white-space: nowrap;
  &:after {
    content: "100% * 100%";
  }
}

.demo-container--alt {
  width: 1000px;
  height: 1000px;
  border-color: #A5D6A7;
  background-color: #C8E6C9;
  color: #4CAF50;
  &:after {
    content: "1000px * 1000px";
  }
}

/* ===== Handle description ===== */

#demo-description {
  cursor: pointer;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  opacity: 0.95;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  @include demo-dark-box;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  line-height: 1.5em;
  transition: opacity ease 0.6s;

  &:hover {
    opacity: 0.8;
  }

  code {
    padding: 0.2em 0.4em;
    border-radius: $demo-border-radius;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.15);
  }
}
