html {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
  background-color: #ddd;
}

body {
  margin: 0;
  padding: 1rem;
}

h1 {
  margin-top: 0;
  text-align: center;
  font-weight: 200;
}

iframe {
  display: block;
  width: 100%;
  height: 360px;
  border: none;
  background-color: #fff;
}

.bfg__content {
  box-shadow: 3px 3px 6px #bbb;
  border-radius: 3px;
  border: 1px solid #aaa;
}
