@import "./variables.scss";

html {
  color: #555;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
  line-height: 1.375em;
}

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* ===== Change html background color ===== */

.demo-page-bg--gray {
  background-color: #f5f5f5;
}

/* ===== Restore default height ===== */

.demo-page-height--disabled { // Add to the <html> tag
  &, body {
    height: initial;
  }
}

.demo-page-height__toggle {
  @include demo-dark-button(right);
}

/* ===== Handle source ===== */

.demo-source__toggle {
  @include demo-dark-button(left);
}

.demo-source__content {
  overflow: auto;
  max-width: 80%;
  max-height: 80%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  display: none;
}

.demo-source__code {
  overflow-x: auto;
  margin: 0;
  padding: 2rem;
  line-height: 1.2rem;
}

.demo-source__description {
  display: none;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  @include demo-dark-box;
  border-width: 1px 0 0 0;

  code {
    padding: 0.2em 0.4em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.demo-source__warning {
  margin: 1rem -1rem;
  padding: 0.5rem 1rem;
  display: block;
  border: 1px solid map-get($demo-variant, border);
  background-color: map-get($demo-variant, background);
  color: map-get($demo-variant, forground);
  font-size: 0.875rem;

  &:last-child {
    margin-bottom: -0.5rem;
  }
}

.demo-source {
  z-index: 12;
  justify-content: center;
  align-items: center;
  transition: background-color ease 200ms;

  &.demo-source--open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;

    .demo-source__content {
      display: block !important;
    }

    .demo-source__description {
      display: block;
    }
  }
}

/* ===== Handle container and text ===== */

.demo-container {
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #C8E6C9;
  background-color: #E8F5E9;
  color: #66BB6A;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 3em;
  text-indent: 1em;
  white-space: nowrap;
  &:after {
    content: "100% * 100%";
  }
}

.demo-container--alt {
  width: 1000px;
  height: 1000px;
  border-color: #A5D6A7;
  background-color: #C8E6C9;
  color: #4CAF50;
  &:after {
    content: "1000px * 1000px";
  }
}

// .demo-text {}
.demo-text__bg-1 { background-color: #FFF8E1; }
.demo-text__bg-2 { background-color: #E1F5FE; }
.demo-text__bg-3 { background-color: #E8F5E9; }
.demo-text__bg-4 { background-color: #FFEBEE; }
.demo-text__bg-5 { background-color: #F3E5F5; }
