@import "./variables.scss";

html {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
  color: #555;
  line-height: 1.5rem;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

/* ===== Handle source ===== */

.demo-source__toggle {
  position: fixed;
  z-index: 12;
  bottom: 0;
  left: 0;
  width: 40px;
  padding: 0px 0 6px 0;
  line-height: 1rem;
  border-top-right-radius: $demo-border-radius;
  @include demo-dark-box;
  text-decoration: none;
  text-align: center;
}

.demo-source__content {
  overflow: auto;
  max-width: 70%;
  max-height: 70%;
  margin: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  border-radius: $demo-border-radius;
  background-color: #fff;
  display: none;
}

.demo-source__code {
  margin: 0;
  padding: 2rem;
  overflow-x: auto;
}

.demo-source__description {
  display: none;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  @include demo-dark-box;
  border-width: 1px 0 0 0;
  line-height: 1.5em;

  code {
    padding: 0.2em 0.4em;
    border-radius: $demo-border-radius;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.demo-source {
  z-index: 12;
  transition: background-color ease 200ms;

  &.demo-source--open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;

    .demo-source__content {
      display: block !important;
    }

    .demo-source__description {
      display: block;
    }
  }
}

/* ===== Handle container ===== */

.demo-container {
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #C8E6C9;
  background-color: #E8F5E9;
  color: #66BB6A;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 3em;
  text-indent: 1em;
  white-space: nowrap;
  &:after {
    content: "100% * 100%";
  }
}

.demo-container--alt {
  width: 1000px;
  height: 1000px;
  border-color: #A5D6A7;
  background-color: #C8E6C9;
  color: #4CAF50;
  &:after {
    content: "1000px * 1000px";
  }
}
