@import "./variables.scss";

body {
  padding: 0;
  text-align: justify;
}

a {
  color: map-get($demo-light, forground);
}

/* ===== header ===== */

$demo-wrapper-max-width: 1280px;

.demo-top {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid transparent;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

.demo-top--background {
  z-index: 1;
  border-color: #1565C0;
  background: #2196F3;
  text-align: left;
  font-size: 1.25rem;
}

.demo-top--forground {
  z-index: 3;
  text-align: right;
  width: 50%;
  right: 0;

  .demo-wrapper {
    margin: 0;
    box-sizing: border-box;
    max-width: ($demo-wrapper-max-width / 2);
    padding: 0 1rem;
  }
}

.demo-top__link {
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  color: #fff;
  text-decoration: none;
}

.demo-header {
  position: relative;
  z-index: 2;
  margin-bottom: 3rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.demo-header__title {
  margin: 6rem 2rem 6rem 0;
  line-height: 6rem;
  font-size: 4rem;
  font-weight: 200;
  color: #666;
}

.demo-wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: $demo-wrapper-max-width;
  padding: 0 1rem;
}

/* ===== logo ===== */

$demo-logo-size: 6rem;
$demo-logo-border: ($demo-logo-size / 12);
$demo-logo-shadow: ($demo-logo-border / 2);

.demo-logo {
  width: $demo-logo-size;
  height: $demo-logo-size;
  position: relative;
}

.demo-logo__square {
  width: ($demo-logo-size / 2);
  height: ($demo-logo-size / 2);
  position: absolute;
  box-sizing: border-box;
  border: $demo-logo-border solid transparent;
  transform-origin: 50% 50%;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-name: squareIt;
}

.demo-logo__square--tl {
  top: 0;
  left: 0;
  border-color: #F44336;
}

.demo-logo__square--tr {
  border-color: #2196F3;
  top: 0;
  right: 0;
}

.demo-logo__square--bl {
  border-color: #C62828;
  bottom: 0;
  left: 0;
}

.demo-logo__square--br {
  border-color: #1565C0;
  bottom: 0;
  right: 0;
}

@keyframes squareIt {
  0% {
    box-shadow:
      $demo-logo-shadow $demo-logo-shadow 1px rgba(0, 0, 0, 0.2),
      $demo-logo-shadow $demo-logo-shadow 1px rgba(0, 0, 0, 0.2) inset;
  }
  70% {
    border-radius: 0;
    transform: rotate(0deg);
    box-shadow:
      $demo-logo-shadow $demo-logo-shadow 1px rgba(0, 0, 0, 0.2),
      $demo-logo-shadow $demo-logo-shadow 1px rgba(0, 0, 0, 0.2) inset;
  }
  85% {
    border-radius: 33%;
    transform: rotate(45deg) scale(1.35);
  }
  100% {
    border-radius: 0;
    transform: rotate(90deg);
    box-shadow:
      $demo-logo-shadow (-$demo-logo-shadow) 1px rgba(0, 0, 0, 0.2),
      $demo-logo-shadow (-$demo-logo-shadow) 1px rgba(0, 0, 0, 0.2) inset;
  }
}

/* ===== Showcase ===== */

.demo-showcase__item {
  position: relative;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.075);
  border: 1px solid map-get($demo-light, border);
  background-color: white;
}

.demo-showcase__iframe {
  display: block;
  width: 100%;
  height: 75vh;
  border: none;
  background-color: white;
}

.demo-showcase__link {
  display: none;

  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  z-index: 10;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 1px solid map-get($demo-variant, border);
  background-color: map-get($demo-variant, background);
  color: map-get($demo-variant, forground) !important;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  transition: background-color ease 300ms, color ease 300ms;

  &:hover {
    background-color: map-get($demo-variant, border);
    color: #ddd;
  }
}
