$demo-light: (
  border: #B0BEC5,
  background: #ECEFF1,
  forground: #607D8B
);

$demo-dark: (
  border: #455A64,
  background: #607D8B,
  forground: #ECEFF1
);

$demo-variant: (
  border: #D32F2F,
  background: #F44336,
  forground: #FFEBEE
);

@mixin demo-dark-box {
  border: 1px solid map-get($demo-dark, border);
  background-color: map-get($demo-dark, background);
  color: map-get($demo-dark, forground);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

@mixin demo-dark-button($position) {
  position: fixed;
  z-index: 12;
  bottom: 0;
  padding: 0.15rem 0.45rem;
  @include demo-dark-box;
  text-decoration: none;
  font-family: -webkit-pictograph;
  transition: background-color ease 300ms, color ease 300ms;

  @if ($position == left) {
    left: 0;
  } @else {
    right: 0;
  }

  &:hover {
    background-color: map-get($demo-dark, border);
    color: #ddd;
  }
}

